<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<include resource="org/springframework/boot/logging/logback/defaults.xml" />
	​
	<springProperty scope="context" name="springAppName"
		source="spring.application.name" />
	<springProperty scope="context" name="springAppIp"
		source="spring.cloud.client.ipAddress" />
	<!-- Example for logging into the build folder of your project -->
	<property name="LOG_FILE" value="${LOG_PATH:-}/${springAppName}" />
	<property name="LOG_JSON" value="${LOG_PATH:-}/json/${springAppName}" />
	<property name="LOG_FILE_DAY" value="${LOG_PATH:-}/%d{yyyy-MM-dd}/${springAppName}" />
	​

	<!-- You can override this to have a custom pattern -->
	<property name="CONSOLE_LOG_PATTERN"
		value="%clr(%d{yyyy-MM-dd HH:mm:ss.SSS}){faint} %clr(${LOG_LEVEL_PATTERN:-%5p}) %clr(${PID:- }){magenta} %clr(-){faint} %clr(%-40.40logger{39}){cyan} %clr(:){faint} %m%n${LOG_EXCEPTION_CONVERSION_WORD:-%wEx}" />

	<!-- Appender to log to console -->
	<appender name="console" class="ch.qos.logback.core.ConsoleAppender">
		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
			<!-- Minimum logging level to be presented in the console logs -->
			<level>DEBUG</level>
		</filter>
		<encoder>
			<pattern>${CONSOLE_LOG_PATTERN}</pattern>
			<charset>utf8</charset>
		</encoder>
	</appender>

	<!-- Appender to log to file -->
	<appender name="flatfile"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${LOG_FILE}.log</file>
		<rollingPolicy
			class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
			<fileNamePattern>${LOG_FILE_DAY}.%i.zip</fileNamePattern>
			<maxFileSize>50MB</maxFileSize>
		</rollingPolicy>
		<encoder>
			<pattern>${CONSOLE_LOG_PATTERN}</pattern>
			<charset>utf8</charset>
		</encoder>
	</appender>

	<appender name="errorfile"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${LOG_FILE}_error.log</file>
		<rollingPolicy
			class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
			<fileNamePattern>${LOG_FILE_DAY}_error.%i.zip</fileNamePattern>
			<maxFileSize>50MB</maxFileSize>
		</rollingPolicy>
		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
			<level>ERROR</level>
		</filter>
		<encoder>
			<pattern>${CONSOLE_LOG_PATTERN}</pattern>
			<charset>utf8</charset>
		</encoder>
	</appender>

	<appender name="kangaroofile"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${LOG_FILE}_uama.log</file>
		<rollingPolicy
			class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
			<fileNamePattern>${LOG_FILE_DAY}_uama.%i.zip</fileNamePattern>
			<maxFileSize>50MB</maxFileSize>
		</rollingPolicy>
		<encoder>
			<pattern>${CONSOLE_LOG_PATTERN}</pattern>
			<charset>utf8</charset>
		</encoder>
	</appender>
	​
	<!-- Appender to log to file in a JSON format -->
	<appender name="logstash"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${LOG_FILE}.json</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
			<fileNamePattern>${LOG_JSON}_json.%i.zip</fileNamePattern>
			<minIndex>1</minIndex>
			<maxIndex>3</maxIndex>
		</rollingPolicy>

		<triggeringPolicy
			class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
			<maxFileSize>100MB</maxFileSize>
		</triggeringPolicy>
		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
			<level>ERROR</level>
		</filter>
		<encoder
			class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
			<providers>
				<timestamp>
					<timeZone>Asia/Shanghai</timeZone>
				</timestamp>
				<pattern>
					<pattern>
						{
						"severity": "%level",
						"service": "${springAppName:-}",
						"serviceip":"${springAppIp:-}",
						"trace": "%X{X-B3-TraceId:-}",
						"span": "%X{X-B3-SpanId:-}",
						"parent": "%X{X-B3-ParentSpanId:-}",
						"exportable": "%X{X-Span-Export:-}",
						"pid": "${PID:-}",
						"thread":"%thread",
						"class": "%logger{40}",
						"rest":"%message%n%xException"
						}
					</pattern>
				</pattern>
			</providers>
		</encoder>
	</appender>

	<logger name="cn.jpush.api.common.connection.NativeHttpClient" level="off"/>
	
	<logger name="com.kangaroo.utils.log" level="info" additivity="false">
		<appender-ref ref="kangaroofile" />
		<appender-ref ref="logstash"/>
	</logger>
	​
	<root level="info">
		<appender-ref ref="console" />
		<appender-ref ref="logstash" />
		<appender-ref ref="flatfile" />
		<appender-ref ref="errorfile" />
	</root>
</configuration>