<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kangaroo.microservices.provider.base.dao.master.ProductMapper">
  <resultMap id="BaseResultMap" type="com.kangaroo.microservices.provider.base.model.entity.Product">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="createdDate" jdbcType="TIMESTAMP" property="createddate" />
    <result column="lastModifiedDate" jdbcType="TIMESTAMP" property="lastmodifieddate" />
    <result column="version" jdbcType="INTEGER" property="version" />
    <result column="attributeValue0" jdbcType="VARCHAR" property="attributevalue0" />
    <result column="attributeValue1" jdbcType="VARCHAR" property="attributevalue1" />
    <result column="attributeValue10" jdbcType="VARCHAR" property="attributevalue10" />
    <result column="attributeValue11" jdbcType="VARCHAR" property="attributevalue11" />
    <result column="attributeValue12" jdbcType="VARCHAR" property="attributevalue12" />
    <result column="attributeValue13" jdbcType="VARCHAR" property="attributevalue13" />
    <result column="attributeValue14" jdbcType="VARCHAR" property="attributevalue14" />
    <result column="attributeValue15" jdbcType="VARCHAR" property="attributevalue15" />
    <result column="attributeValue16" jdbcType="VARCHAR" property="attributevalue16" />
    <result column="attributeValue17" jdbcType="VARCHAR" property="attributevalue17" />
    <result column="attributeValue18" jdbcType="VARCHAR" property="attributevalue18" />
    <result column="attributeValue19" jdbcType="VARCHAR" property="attributevalue19" />
    <result column="attributeValue2" jdbcType="VARCHAR" property="attributevalue2" />
    <result column="attributeValue3" jdbcType="VARCHAR" property="attributevalue3" />
    <result column="attributeValue4" jdbcType="VARCHAR" property="attributevalue4" />
    <result column="attributeValue5" jdbcType="VARCHAR" property="attributevalue5" />
    <result column="attributeValue6" jdbcType="VARCHAR" property="attributevalue6" />
    <result column="attributeValue7" jdbcType="VARCHAR" property="attributevalue7" />
    <result column="attributeValue8" jdbcType="VARCHAR" property="attributevalue8" />
    <result column="attributeValue9" jdbcType="VARCHAR" property="attributevalue9" />
    <result column="caption" jdbcType="VARCHAR" property="caption" />
    <result column="cost" jdbcType="DECIMAL" property="cost" />
    <result column="hits" jdbcType="SMALLINT" property="hits" />
    <result column="isActive" jdbcType="BIT" property="isactive" />
    <result column="isDelivery" jdbcType="BIT" property="isdelivery" />
    <result column="isList" jdbcType="BIT" property="islist" />
    <result column="isMarketable" jdbcType="BIT" property="ismarketable" />
    <result column="isTop" jdbcType="BIT" property="istop" />
    <result column="keyword" jdbcType="VARCHAR" property="keyword" />
    <result column="marketPrice" jdbcType="DECIMAL" property="marketprice" />
    <result column="maxCommission" jdbcType="DECIMAL" property="maxcommission" />
    <result column="memo" jdbcType="VARCHAR" property="memo" />
    <result column="monthHits" jdbcType="INTEGER" property="monthhits" />
    <result column="monthHitsDate" jdbcType="TIMESTAMP" property="monthhitsdate" />
    <result column="monthSales" jdbcType="INTEGER" property="monthsales" />
    <result column="monthSalesDate" jdbcType="TIMESTAMP" property="monthsalesdate" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="parameterValues" jdbcType="VARCHAR" property="parametervalues" />
    <result column="price" jdbcType="DECIMAL" property="price" />
    <result column="sales" jdbcType="SMALLINT" property="sales" />
    <result column="score" jdbcType="REAL" property="score" />
    <result column="scoreCount" jdbcType="SMALLINT" property="scorecount" />
    <result column="sn" jdbcType="VARCHAR" property="sn" />
    <result column="specificationItems" jdbcType="VARCHAR" property="specificationitems" />
    <result column="totalScore" jdbcType="SMALLINT" property="totalscore" />
    <result column="type" jdbcType="INTEGER" property="type" />
    <result column="unit" jdbcType="VARCHAR" property="unit" />
    <result column="weekHits" jdbcType="SMALLINT" property="weekhits" />
    <result column="weekHitsDate" jdbcType="TIMESTAMP" property="weekhitsdate" />
    <result column="weekSales" jdbcType="SMALLINT" property="weeksales" />
    <result column="weekSalesDate" jdbcType="TIMESTAMP" property="weeksalesdate" />
    <result column="weight" jdbcType="SMALLINT" property="weight" />
    <result column="brand_id" jdbcType="BIGINT" property="brandId" />
    <result column="productCategory_id" jdbcType="BIGINT" property="productcategoryId" />
    <result column="store_id" jdbcType="BIGINT" property="storeId" />
    <result column="storeProductCategory_id" jdbcType="BIGINT" property="storeproductcategoryId" />
    <result column="groupPrice" jdbcType="DECIMAL" property="groupprice" />
    <result column="groupNumber" jdbcType="TINYINT" property="groupnumber" />
    <result column="groupSales" jdbcType="SMALLINT" property="groupsales" />
    <result column="groupRules" jdbcType="VARCHAR" property="grouprules" />
    <result column="sort" jdbcType="SMALLINT" property="sort" />
    <result column="lock_status" jdbcType="TINYINT" property="lockStatus" />
    <result column="thumbnail" jdbcType="VARCHAR" property="thumbnail" />
    <result column="is_deleted" jdbcType="INTEGER" property="isDeleted" />
    <result column="isProtected" jdbcType="BIT" property="isprotected" />
    <result column="tag" jdbcType="VARCHAR" property="tag" />
    <result column="tag_id" jdbcType="BIGINT" property="tagId" />
    <result column="introduction" jdbcType="LONGVARCHAR" property="introduction" />
    <result column="productImages" jdbcType="LONGVARCHAR" property="productimages" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--
      WARNING - @mbg.generated
    -->
    id, createdDate, lastModifiedDate, version, attributeValue0, attributeValue1, attributeValue10, 
    attributeValue11, attributeValue12, attributeValue13, attributeValue14, attributeValue15, 
    attributeValue16, attributeValue17, attributeValue18, attributeValue19, attributeValue2, 
    attributeValue3, attributeValue4, attributeValue5, attributeValue6, attributeValue7, 
    attributeValue8, attributeValue9, caption, cost, hits, isActive, isDelivery, isList, 
    isMarketable, isTop, keyword, marketPrice, maxCommission, memo, monthHits, monthHitsDate, 
    monthSales, monthSalesDate, name, parameterValues, price, sales, score, scoreCount, 
    sn, specificationItems, totalScore, type, unit, weekHits, weekHitsDate, weekSales, 
    weekSalesDate, weight, brand_id, productCategory_id, store_id, storeProductCategory_id, 
    groupPrice, groupNumber, groupSales, groupRules, sort, lock_status, thumbnail, is_deleted, 
    isProtected, tag, tag_id
  </sql>
</mapper>