<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kangaroo.microservices.provider.base.dao.master.StoreMapper">
  <resultMap id="BaseResultMap" type="com.kangaroo.microservices.provider.base.model.entity.Store">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="createdDate" jdbcType="TIMESTAMP" property="createddate" />
    <result column="lastModifiedDate" jdbcType="TIMESTAMP" property="lastmodifieddate" />
    <result column="version" jdbcType="BIGINT" property="version" />
    <result column="address" jdbcType="VARCHAR" property="address" />
    <result column="bailPaid" jdbcType="DECIMAL" property="bailpaid" />
    <result column="discountPromotionEndDate" jdbcType="TIMESTAMP" property="discountpromotionenddate" />
    <result column="email" jdbcType="VARCHAR" property="email" />
    <result column="endDate" jdbcType="TIMESTAMP" property="enddate" />
    <result column="fullReductionPromotionEndDate" jdbcType="TIMESTAMP" property="fullreductionpromotionenddate" />
    <result column="introduction" jdbcType="VARCHAR" property="introduction" />
    <result column="isEnabled" jdbcType="BIT" property="isenabled" />
    <result column="keyword" jdbcType="VARCHAR" property="keyword" />
    <result column="logo" jdbcType="VARCHAR" property="logo" />
    <result column="mobile" jdbcType="CHAR" property="mobile" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="phone" jdbcType="VARCHAR" property="phone" />
    <result column="status" jdbcType="TINYINT" property="status" />
    <result column="type" jdbcType="TINYINT" property="type" />
    <result column="zipCode" jdbcType="CHAR" property="zipcode" />
    <result column="business_id" jdbcType="BIGINT" property="businessId" />
    <result column="storeCategory_id" jdbcType="BIGINT" property="storecategoryId" />
    <result column="storeRank_id" jdbcType="BIGINT" property="storerankId" />
    <result column="groupPromotionEndDate" jdbcType="TIMESTAMP" property="grouppromotionenddate" />
    <result column="stockWarn" jdbcType="INTEGER" property="stockwarn" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--
      WARNING - @mbg.generated
    -->
    id, createdDate, lastModifiedDate, version, address, bailPaid, discountPromotionEndDate, 
    email, endDate, fullReductionPromotionEndDate, introduction, isEnabled, keyword, 
    logo, mobile, name, phone, status, type, zipCode, business_id, storeCategory_id, 
    storeRank_id, groupPromotionEndDate, stockWarn
  </sql>
</mapper>